<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h2>We can’t wait to celebrate our special day with you.</h2>
        <p class="lead">
          We’ve created this website as a convenient and interactive way to share all of the important details with you in the lead up to our wedding.


          Thank you for your on-going love and support. We are so excited to share this day with you and look forward to dancing the night away with all of our favourite people!

          </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
