<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h3>19th of September 2018</h3>
        <p>Lugar Montenegral Alto, 0, 11349 Montenegral, Cádiz, Spain</p>
        <hr class="small">
        <ul class="timeline">

          <li class="">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../img/arrival.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>10am</h4>
              </div>
              <div class="timeline-body">
                <p class="lead">Arrival</p>
                <p class="lead">Guests arrive and seating begins</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../img/indian.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>11am</h4>
              </div>
              <div class="timeline-body">
                <p class="lead">Indian Ceremony</p>
                <p class="lead">Followed by a light lunch</p>
                 <p class="lead">Attire - Indian, please bring a headcovering</p>
              </div>
            </div>
          </li>

          <li class="timeline">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../img/cocktail2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>12.00am</h4>
              </div>
              <div class="timeline-body">
                <p class="lead">¡Siesta!</p>
                <p class="lead">Whilst in Spain do as the Spanish do with a quick nap and rest!</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../img/english1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>18.00am</h4>
              </div>
              <div class="timeline-body">
                <p class="lead">English Ceremony</p>
                 <p class="lead">The I do's</p>
                 <p class="lead">Attire: Formal / Ball Gown</p>
              </div>
            </div>
          </li>

          <li class="timeline">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../img/cocktail1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>18.30am</h4>
              </div>
              <div class="timeline-body">
                <p class="lead">Drinks and Canapés</p>
                 <p class="lead">Nibbles and wedding photos</p>
              </div>
            </div>
          </li>


          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../img/dinner.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>19.30am</h4>
              </div>
              <div class="timeline-body">
                <p class="lead">Reception</p>
                <p class="lead">Dinner will be served</p>
                <p class="lead">Followed by cake cutting and first dance</p>
              </div>
            </div>
          </li>

          <li class="timeline">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../img/dance.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>21.30am</h4>
              </div>
              <div class="timeline-body">
                <p class="lead">Party</p>
                <p class="lead">Time to put your party shoes on and dance the night away!</p>
              </div>
            </div>
          </li>

      </ul>
        <!-- /.row (nested) -->

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
