<section id="gifts" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Gifts!</h2>
        <hr class="small">
        <p class="lead">

          Many of our guests have enquired for gift ideas. Like many young couples today, we are lucky to have enough to start the next exciting chapter in our lives. 
          So please, not gifts – your presence at our wedding is all that we wish for. 
          However, if you still wish to give a gift, we will be grateful for contributions to our honeymoon.
          
        </p><p class="lead">
          Please send via <a href="https://paypal.me/jakeandchrissie">paypal</a> or in person.

          </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
