<section id="gifts" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Gifts!</h2>
        <p class="lead">

          We are lucky enough to have everything we need for this next exciting chapter of our lives!
          So please, no gifts – your presence is present enough for us on this special day. However if you
          still feel the need we will accept donations to the honey moon.
        </p><p class="lead">
          Please send via <a href="https://paypal.me/jakeandchrissie">paypal</a> or in person.

          </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
