<section id="hotels" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Suggested Hotels</h2>
        <hr class="small">
        <p class="lead">Here are a selection of hotels that have been recommended and are not too far from the venue. Please feel free to look elsewhere, from our experience the best deals are on airbnb.</p>
        <div class="row">

          <div class="col-md-6 col-md-offset-3">
            <div class="portfolio-item">
              <a href="https://www.tripadvisor.co.uk/Hotel_Review-g659598-d534828-Reviews-NH_Sotogrande-Sotogrande_San_Roque_Costa_de_la_Luz_Andalucia.html">
                <img class="img-portfolio img-responsive" src="img/nh-sotogrande.jpg">
              </a>
              <h3>NH Sotogrande</h3>

                We have spoken with Hotel NH Sotogrande, and they have given a 10% discount on the best available rate. They have blocked specific rooms for our guests and you will need to contact them with this phone number or email in order to make a reservation +34 956 58 20 35 info.sotogrande@sotogrande.com, and inform them you are part of the Chrissie & Jacob wedding group.


            </div>
          </div>
          </div>
          <div class="row">

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.tripadvisor.co.uk/Hotel_Review-g672728-d1774694-Reviews-Hotel_Casa_Henrietta-Jimena_de_la_Frontera_Province_of_Cadiz_Andalucia.html">
                <img class="img-portfolio img-responsive" src="img/hotel1-n.jpg">
              </a>
              <h3>Casa Henrietta</h3>

              A lovely hotel in beautiful Jimena with lots of character and an excellent base for trips to the surrounded area: Gibraltar, Málaga, Tarifa, Marbella. A good base to enjoy a relaxing holiday in the charm of a typical Spanish village.
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.tripadvisor.co.uk/Hotel_Review-g672728-d274309-Reviews-Hostal_El_Anon-Jimena_de_la_Frontera_Province_of_Cadiz_Andalucia.html">
                <img class="img-portfolio img-responsive" src="img/hotel2-n.jpg">
              </a>

              <h3>Hostal Anon</h3>

              This hotel is made up of several houses joined together making a quirky collection of patios, staircases, rooms and suites. You might spend the first day getting lost inside.


            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.tripadvisor.co.uk/Hotel_Review-g659598-d231570-Reviews-Hotel_Almenara_Resort-Sotogrande_San_Roque_Costa_de_la_Luz_Andalucia.html">
                <img class="img-portfolio img-responsive" src="img/hotel3-n.jpg">
              </a>

              <h3>Hotel Almenara</h3>

              The Hotel Almenara is in a peaceful green location in exclusive Sotogrande. It’s set on a hill in the heart of a golf course with great views across to the Mediterranean. A short drive takes you to the marina, which is lined with bars and restaurants.


            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://www.tripadvisor.co.uk/Hotel_Review-g659598-d603436-Reviews-Club_Maritimo_de_Sotogrande-Sotogrande_San_Roque_Costa_de_la_Luz_Andalucia.html">
                <img class="img-portfolio img-responsive" src="img/hotel4-n.jpg">
              </a>

              <h3>Club Maritimo de Sotogrande</h3>

              This property is 3 minutes walk from the beach. A beautiful hotel situated by the Sotogrande Marina overlooking Gibraltar, Morocco and the Mediterranean Sea, alongside some of the best golf courses in Europe.


            </div>
          </div>

        <!-- /.row (nested) -->

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
