<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Jake and Chrissie</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#services" onclick = $("#menu-close").click(); >Information</a>
    </li>
     <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >The Wedding Day</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Other Events</a>
    </li>

    <li>
      <a href="#map" onclick = $("#menu-close").click(); >Location</a>
    </li>
    <li>
      <a href="#airport" onclick = $("#menu-close").click(); >Airports</a>
    </li>
    <li>
      <a href="#hotels" onclick = $("#menu-close").click(); >Hotels</a>
    </li>
    <li>
      <a href="#hotels" onclick = $("#menu-close").click(); >Gifts</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
