<section id="taxi" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Transportation</h2>
        <hr class="small">
        <p class="lead">
          Our wedding planners have arranged a special price for transportation from the airport to the hotel.
          Please contact them directly via events@tucco.es for more details.
        </p>
        <p class="lead">
          A local taxi driver's number:
        </p>
        <p class="lead">
          Manuel Lozano: 0034649348077
        </p>
        
        <p class="lead">
          Transportation costs for larger groups from Málaga Airport to the Hotel:
        </p>
        <p class="lead">
          16/19 seaters bus: 290€ + 10% VAT
        </p>
        <p class="lead">
          25/30 seaters bus: 340€ + 10% VA
        </p>

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
