<section id="taxi" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Transportation</h2>
        <hr class="small">
        <p class="lead">
          Local taxi numbers:
        </p>
        <p class="lead">
          San Roque Sotogrande: +34 687715155
        </p>
        <p class="lead">
          Estepona: +34 952802900
        </p>
        <p class="lead">
          Marbella: +34 952823535
        </p>
        <p class="lead">
          Malaga airport: +34 952040804
        </p>
        <p class="lead">
          Our wedding planners have arranged a special price for transportation from the airport to the hotel.
          Please contact them directly via events@tucco.es for more details.
        </p>
        <p class="lead">
          Transportation costs from Málaga Airport to the Hotel:
        </p>
        <p class="lead">
          16/19 seaters bus: 290€ + 10% VAT
        </p>
        <p class="lead">
          25/30 seaters bus: 340€ + 10% VA
        </p>
        <p class="lead">
          They also recommend a local taxi driver:
        </p>
        <p class="lead">
          Manuel Lozano 649348077
        </p>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
