<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  {% include day_one.html %}
  {% include day_one_time_line.html %}
  {% include day_two.html %}
  {% include day_two_time_line.html %}

  {% include map.html %}
  {% include airports.html %}
  {% include hotels.html %}
  {% include gifts.html %}
  {% include babys.html %}
  {% include footer.html %}
  {% include scripts.html %}

</body>

<footer>
  <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
</footer>

</html>
